@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <input type="button" id="getValues" value="Send" />
    <ul id="discussion"></ul>
</div>

<script type="text/javascript">

    //console.log("test");
    //alert("test");

</script>

<script src="~/js/signalr-client-1.0.0-alpha2-final.js" type="text/javascript"></script>
<script type="text/javascript">
    var transport = signalR.TransportType.WebSockets;
    var connection = new signalR.HubConnection(`http://${document.location.host}/notifications`, { transport: transport });

    //console.log(connection);
    //alert(connection);

    var button = document.getElementById("getValues");

    connection.on('updateStuff', (value) => {
        var liElement = document.createElement('li');
        liElement.innerHTML = 'Someone caled a controller method with value: ' + value;
        document.getElementById('discussion').appendChild(liElement);
    });

    button.addEventListener("click", event => {

        var url = 'http://' + document.location.host + "/api/simple";

        fetch(url)
            .then(function (data) {
                console.log(data);
            })
            .catch(function (error) {
                console.log(error);
            });

        //fetch("http://localhost:9002/api/simple")
        //    .then(function (data) {
        //        console.log(data);
        //    })
        //    .catch(function (error) {
        //        console.log(err);
        //    });

    });

    connection.start();
</script>
